In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import csv

with open("WUZZUF.csv","w",newline='',encoding="UTF-8") as fd:

    heads = ['Title',"Location","Company Name","Experience","Skills"]
    writer = csv.DictWriter(fd,heads)
    writer.writeheader()

    for i in range(21):


        url = f"https://wuzzuf.net/search/jobs/?a=spbg&q=data%20scientist%20data%20analyst&start={i}"

        resp = requests.get(url)

        src = resp.content

        soup = BeautifulSoup(src,"lxml")

        all_jobs = soup.find_all("div",{"class":"css-1gatmva e1v1l3u10"})

        for job in all_jobs:

            job_title = job.find("h2").get_text()
            
            location = job.find("span",{"class":"css-5wys0k"}).get_text().strip()

            company_name = job.find("a",{"class":"css-17s97q8"}).get_text().strip('- ')

            experience = job.find_all("a",{"class":"css-o171kl"})[1].get_text()

            skills = job.find_all("a",{"class":"css-o171kl"})[1].find_next_siblings()

            Skills = []
            for skill in skills:

                if skill.get_text().strip().startswith(".css"):
                    continue
                
                Skills.append(skill.get_text().strip()[2:])
                
            writer.writerow({"Title":job_title,"Location":location,"Company Name":company_name,"Experience":experience,"Skills":Skills})

In [2]:
data = pd.read_csv("WUZZUF.csv")

data

,Title,Location,Company Name,Experience,Skills
0,Senior Data Scientist,"Mohandessin, Giza, Egypt",Wakeb Data,Experienced,"['3 - 5 Yrs of Exp', 'IT/Software Development'..."
1,Senior Data Analyst,"Shubra, Cairo, Egypt",Tamweely,Experienced,"['3 - 5 Yrs of Exp', 'IT/Software Development'..."
2,Data Entry Clerk/ Tarrif Analyst,"Nasr City, Cairo, Egypt",Tripathon,Entry Level,"['1 - 3 Yrs of Exp', 'Administration', 'Busine..."
3,Data Analyst,"Nasr City, Cairo, Egypt",Onecard,Experienced,"['2 - 4 Yrs of Exp', 'Marketing/PR/Advertising..."
4,Data Analyst,"10th of Ramadan City, Sharqia, Egypt",Art Food,Senior Management,"['2 - 5 Yrs of Exp', 'Analyst/Research', 'ta',..."
...,...,...,...,...,...
310,Research And Development Specialist,"Bourj Alarab, Alexandria, Egypt",Easy Group For Health and Beauty Care,Entry Level,"['1 - 3 Yrs of Exp', 'R&D/Science', 'Chemistry..."
311,Cost estimation engineer,"Alexandria, Egypt",GIECO,Experienced,"['3 - 5 Yrs of Exp', 'Engineering - Constructi..."
312,.NET Full Stack Developer,"Maadi, Cairo, Egypt",PING,Experienced,"['3 - 15 Yrs of Exp', 'IT/Software Development..."
313,"Full time Senior ASP Net Core, Blazor Full Sta...","New Nozha, Cairo, Egypt",Sinmar Soft,Experienced,"['3 - 10 Yrs of Exp', 'IT/Software Development..."
314,Senior R&D Mechanical Power,"Giza, Egypt",BEDO Company,Experienced,"['3 - 5 Yrs of Exp', 'Engineering - Mechanical..."